.navbar{
    height: 100px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logo img{
    height: 100px;
    width: auto;
}
.ul_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.li_list{
    transition: all 0.4s ease;
    font-size: 16px;
    font-weight: 600;
}
.li_list:hover{
    color: #FF3E54;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn{
    height: 44px;
    width: 130px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

.sign_up{
    background-color: #FF3E54;
    color: white;
}

.log_in{
    color: #FF3E54;
    border: 1px solid #FF3E54;
    background-color: white;
}


.hamburger {
    display: none;
    cursor: pointer;
  }
  
  .mobile_buttons {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  
  .desktop_buttons {
    display: flex;
    gap: 10px;
  }


  /* ============================== */
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px 20px;
      height: auto;
      justify-content: space-between;
      position: relative;
    }
  
    .logo img {
      height: 50px;
      width: auto;
    }
  
    .middle {
      display: none;
      width: 100%;
      flex-direction: column;
      align-items: center;
      background-color: white;
      box-shadow: 0 8px 16px rgba(0,0,0,0.05);
      padding-bottom: 20px;
      z-index: 1;
    }
  
    .middle.show {
      display: flex;
    }
  
    .ul_list {
      flex-direction: column;
      gap: 15px;
      padding: 10px 0;
      align-items: center;
    }
  
    .mobile_buttons {
      display: flex;
    }
  
    .desktop_buttons {
      display: none;
    }
  
    .hamburger {
      display: block;
      position: absolute;
      top: 35px;
      right: 25px;
      z-index: 2;
    }
  }
  